.newsTexts {
  margin-left: 30px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  height: 3.5em;
  padding-left: 5px;
}

.newsTexts:hover {
  background-color: #d5d3d3;
  cursor: pointer;
  border-radius: 5px;
}
