.title1 {
  font-size: 100px;
  padding-top: 10px;
  color: white;
  margin-left: 20px;
  font-family: "Italiana";
}

.title2 {
  font-size: 42px;
  color: white;
  margin-left: 20px;
  font-family: "Italiana";
}

.heart {
  font-size: 42px;
  transition: all 0.3s linear;
  margin-left: 20px;
}
.heart:hover {
  transform: scale(1.5);
}

.container {
  display: flex;
}

@font-face {
  font-family: "Italiana";
  src: url("../../../../public/Italiana/Italiana-Regular.ttf");
  font-weight: 400;
}
