@font-face {
  font-family: "Roboto";
  src: url("../../../../public/Roboto/Roboto-Thin.ttf");
  font-weight: 200;
}

.newsTitle {
  size: 7rem;
  color: #0b0a0a;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.newsAuthor {
  color: #c2baba;
  margin-left: 70px;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}

.date {
  position: absolute;
  right: 300px;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}

.trashCan {
  position: absolute;
  right: 200px;
  transition: all 0.3s linear;
  color: #e11d41;
  width: 0.8vw;
}

.trashCan:hover {
  transform: scale(1.5);
  color: #e11d74;
}

.newsTexts {
  margin-left: 28px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  height: 3.5em;
  padding-left: 5px;
}

.newsTexts:hover {
  background-color: #d5d3d3;
  cursor: pointer;
  border-radius: 5px;
}
