.navigation {
  margin: auto;
}

.pagination {
  color: white;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.pageItem {
  padding: 2em;
}

.pageItem:hover {
  padding: 2em;
  background-color: rgb(15, 72, 53);
  height: 55vh;
}

.pageLink {
  color: white;
  text-decoration: none;
}
