.newsList {
  background-color: #ffff;
  width: 100%;
  padding-top: 16px;
  padding-left: 10px;
  display: grid;
  grid-auto-rows: auto;
  position: relative;
}

.newsTitle {
  size: 13rem;
  color: #0b0a0a;
  text-decoration: none;
}

.newsAuthor {
  size: 10rem;
  color: #565050;
  margin-left: 15px;
}

.date {
  position: absolute;
  right: 400px;
}

.trashCan {
  position: absolute;
  right: 200px;
}
