.newsList {
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8px 16px 8px 16px;
}

.SpinnerNews {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  background-color: #fff;
}
